.root {
    -fx-background-color: #393939;
    -fx-border-color: #191919;
    -fx-border-width: 0.2;
}

#icon_pane {
    -fx-background-image: url("/white_icon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#title_bar {
    -fx-background-color: #555555;
    -fx-border-color: #191919;
    -fx-border-style: solid solid hidden solid;
    -fx-border-width: 0.3;
}

.label {
    -fx-text-fill: #ffffff;
}


#image_pane {
    -fx-background-image: url("/white_info.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#close_button {
    -fx-background-color: #555555;
    -fx-background-image: url("/white_close.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#close_button:hover {
    -fx-background-color: #cc5858;
}

#close_button:pressed {
    -fx-background-color: #393939;
}

#no_button {
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #555555;
    -fx-text-fill: white;
    -fx-border-width: 2;
    -fx-border-color: #ffffff;
    -fx-border-radius: 15 15 15 15;
}

#no_button:hover {
    -fx-effect: innershadow( gaussian, white, 10, 0, 5, 5 );
}

#no_button:pressed {
    -fx-background-color: #393939;
}

#yes_button {
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #555555;
    -fx-text-fill: white;
    -fx-border-width: 2;
    -fx-border-color: #ffffff;
    -fx-border-radius: 15 15 15 15;
}

#yes_button:hover {
    -fx-effect: innershadow( gaussian, white, 10, 0, 5, 5 );
}

#yes_button:pressed {
    -fx-background-color: #393939;
}

