.root {
    -fx-background-color: #464646;
}

#new_game_button {
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #606060;
    -fx-text-fill: white;
    -fx-border-width: 2;
    -fx-border-color: #ffffff;
    -fx-border-radius: 15 15 15 15;
}

#new_game_button:hover {
    -fx-effect: innershadow( gaussian, white, 10, 0, 5, 5 );
}

#new_game_button:pressed {
    -fx-background-color: #393939;
}

.label {
    -fx-text-fill: #ffffff;
}

.check-box .box {
    -fx-background-radius: 6;
    -fx-background-color: #606060;
    -fx-border-color: #ffffff;
    -fx-border-radius: 6;
    -fx-border-width: 2;
}

.check-box:hover .box {
    -fx-background-radius: 6;
    -fx-background-color: #393939;
}

.check-box {
    -fx-text-fill: #ffffff;
}

.check-box:selected .mark {
    -fx-background-color: #ffffff;
}

.slider .track {
    -fx-background-color: #707070;
}

.slider .thumb {
    -fx-border-width: 4;
    -fx-border-radius: 16;
    -fx-border-color: #707070;
    -fx-background-color: #ffffff;
}

#icon_pane {
    -fx-background-image: url("/white_icon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#close_button {
    -fx-background-color: #696969;
    -fx-background-image: url("/white_close.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#close_button:hover {
    -fx-background-color: #cc5858;
}

#close_button:pressed {
    -fx-background-color: #555555;
}

#icon_pane {
    -fx-background-image: url("/white_icon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#maximize_button {
    -fx-background-color: #696969;
    -fx-background-image: url("/white_maximize.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#maximize_button:hover {
    -fx-background-color: #595959;
}

#maximize_button:pressed {
    -fx-background-color: #555555;
}

#minimize_button {
    -fx-background-color: #696969;
    -fx-background-image: url("/white_minimize.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#minimize_button:hover {
    -fx-background-color: #595959;
}

#minimize_button:pressed {
    -fx-background-color: #555555;
}

#title_bar {
    -fx-background-color: #696969;
}