.text-area {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: #464646;
}

.scroll-pane .content {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.scroll-pane .thumb {
    -fx-background-color: #696969;
    -fx-border-color: #464646;
}

.scroll-pane .track {
    -fx-background-color: #464646;
    -fx-border-color: #464646;
}

.scroll-bar {
    -fx-background-color: #464646;
    -fx-border-color: #464646;
}

.scroll-pane .decrement-button {
    -fx-background-color: #464646;
    -fx-border-color: #464646;
}

.scroll-pane .increment-button {
    -fx-background-color: #464646;
    -fx-border-color: #464646;
}

.scroll-pane .decrement-arrow {
    -fx-background-color: #696969;
}

.scroll-pane .increment-arrow {
    -fx-background-color: #696969;
}

.scroll-pane .corner {
    -fx-background-color: #464646;
    -fx-border-color: #464646;
}

#close_button {
    -fx-background-color: #696969;
    -fx-background-image: url("/white_close.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#close_button:hover {
    -fx-background-color: #cc5858;
}

#close_button:pressed {
    -fx-background-color: #555555;
}

#icon_pane {
    -fx-background-image: url("/white_icon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#maximize_button {
    -fx-background-color: #696969;
    -fx-background-image: url("/white_maximize.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#maximize_button:hover {
    -fx-background-color: #595959;
}

#maximize_button:pressed {
    -fx-background-color: #555555;
}

#minimize_button {
    -fx-background-color: #696969;
    -fx-background-image: url("/white_minimize.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#minimize_button:hover {
    -fx-background-color: #595959;
}

#minimize_button:pressed {
    -fx-background-color: #555555;
}

#title_bar {
    -fx-background-color: #696969;
}

.label {
    -fx-background-color: #696969;
    -fx-text-fill: #ffffff;
}

#pane {
    -fx-background-color: #464646;
}