#help_button{
    -fx-background-image: url("/lamp.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#save_button{
    -fx-background-image: url("/saving.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-background-radius: 15 15 15 15;
    -fx-border-width: 3;
    -fx-border-color: #171717;
    -fx-border-radius: 10 10 10 10;
}

.button:hover {
    -fx-border-color: #c41492;
    -fx-font-size: 21;
}

#vbox {

}

