#check_button {
    -fx-background-image: url("/check.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #ffffff;
    -fx-border-width: 2;
    -fx-border-color: #525252;
    -fx-border-radius: 15 15 15 15;
}


#help_button {
    -fx-background-image: url("/lamp.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #ffffff;
    -fx-border-width: 2;
    -fx-border-color: #525252;
    -fx-border-radius: 15 15 15 15;
}

#solution_button {
    -fx-background-image: url("/flag.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #ffffff;
    -fx-border-width: 2;
    -fx-border-color: #525252;
    -fx-border-radius: 15 15 15 15;
}

#save_button {
    -fx-background-image: url("/saving.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #ffffff;
    -fx-border-width: 2;
    -fx-border-color: #525252;
    -fx-border-radius: 15 15 15 15;
}

#return_button {
    -fx-background-image: url("/home.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #ffffff;
    -fx-border-width: 2;
    -fx-border-color: #525252;
    -fx-border-radius: 15 15 15 15;
}

#reset_button {
    -fx-background-image: url("/reset.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #ffffff;
    -fx-border-width: 2;
    -fx-border-color: #525252;
    -fx-border-radius: 15 15 15 15;
}

#check_button:hover {
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.3 ), 10, 0, 5, 5 );
}

#help_button:hover {
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.3 ), 10, 0, 5, 5 );
}

#solution_button:hover {
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.3 ), 10, 0, 5, 5 );
}

#save_button:hover {
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.3 ), 10, 0, 5, 5 );
}

#return_button:hover {
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.3 ), 10, 0, 5, 5 );
}

#reset_button:hover {
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.3 ), 10, 0, 5, 5 );
}

#check_button:pressed {
    -fx-background-image: url("/checked.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#help_button:pressed {
    -fx-background-image: url("/yellow_lamp.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#solution_button:pressed {
    -fx-background-image: url("/flagged.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#save_button:pressed {
    -fx-background-image: url("/saved.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#return_button:pressed {
    -fx-background-image: url("/return_home.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#reset_button:pressed {
    -fx-background-image: url("/reseted.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}