.text-area {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
}

.scroll-pane .content {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.scroll-pane .thumb {
    -fx-background-color: #999999;
    -fx-border-color: #ffffff;
}

.scroll-pane .track {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.scroll-bar {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.scroll-pane .decrement-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.scroll-pane .increment-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

.scroll-pane .decrement-arrow {
    -fx-background-color: #686868;
}

.scroll-pane .increment-arrow {
    -fx-background-color: #686868;
}

.scroll-pane .corner {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
}

#close_button {
    -fx-background-color: #ffffff;
    -fx-background-image: url("/close.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#close_button:hover {
    -fx-background-color: #cc5858;
}

#close_button:pressed {
    -fx-background-color: #555555;
}

#maximize_button {
    -fx-background-color: #ffffff;
    -fx-background-image: url("/maximize.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#maximize_button:hover {
    -fx-background-color: #e4e4e4;
}

#minimize_button {
    -fx-background-color: #ffffff;
    -fx-background-image: url("/minimize.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#minimize_button:hover {
    -fx-background-color: #e4e4e4;
}

#title_bar {
    -fx-background-color: #ffffff;
}

#icon_pane {
    -fx-background-image: url("/icon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.label {
    -fx-background-color: white;
    -fx-text-fill: black;
}

#pane {
    -fx-background-color: white;
}